.container
{
  justify-content: space-between;
}

.nav-link
{
  color: #FFFFFF !important;
  font-weight: bold;
}

#mster_fold
{
  background-image: url('design-assets/hero.jpg');
  -webkit-background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#abvfld_left
{
  max-width: 30%;
  height: 600px;
  color: white;
}

#audioSunglasses
{
  font-style: italic;
  font-weight: bolder;
  font-size: 28px;
  color: white;
}

.cta
{
  color: white;
}
