/* body{

} */

.navbar
{
  opacity: 1;
}

.container
{
  justify-content: space-between;
}

#abvfld
{
  background-image: url('design-assets/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#abvfld_left
{
  max-width: 20%;
  /* justify-content: center; */
  height: 600px;
}

#audioSunglasses
{
  font-style: italic;
  font-weight: bolder;
  font-size: 24;
}

#aboveFold-Text
{
  color: black;
}
